.courses-cnt {
  display:flex;
  flex-wrap:wrap;
  width:100%;
}

.courses {
  flex:29.3%;
  margin:2%;
  max-width:29.3%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border:1px solid #ccc;
  border-radius:10px;
  transition:all 200ms;
}

.courses:hover {
  border-color:#077bff;
}

.courses a {
  text-decoration:none;
}

.courses-head {
  padding:2%;
  background-color:#eeeeee;
  color:rgb(122,122,122);
  width:100%;
  border-radius:10px 10px 0 0;
}

.courses-head h4 {
  color:#007bff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.courses-desc {
  padding:2%;
  color:#000;
}

@media only screen and (max-width:24cm) {

.courses {
  flex:45%;
  max-width:45%;
}
}

@media only screen and (max-width:14cm) {

.courses {
  flex:100%;
  max-width:100%;
}
}