/* Styling related to the whole HTML go heres */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  padding-top: 60px;
}
body .container, body .container-fluid {
  min-height: 50vh;
}
